.login, #message-center, #check-weather, #send-message, #add-friend{
  display: none;
  margin-top: 20px;
}
.register {
  margin-top: 20px;
}
.icon {
  height: 25px;
}
.panel-top {
  display: none;
}
.col-md-2 {
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.profile-block {
  border: 1px solid white;
  height: 250px;
  vertical-align: middle;
  font-size: 25px;
  color: white;
  margin-top: 20px;
}
#user-profile {
  display: none;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
    color: black;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.update {
    top:5%;
    left:20%;
}
div.show-image input.delete {
    top:5%;
    left:69%;
}
div.show-image input.send-message {
    top:60%;
    left:35%;
}
